<!DOCTYPE html>
<html>
<head>
    <title>Patient Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <h1>Welcome, Guest.</h1>
    <ul>
        <li><a href="/guest_error">Donate Blood</a></li>
        <li><a href="/guest_error">Request Blood</a></li>
        <li><a href="/guest_error">Add Balance</a></li>
        <li><a href="/guest_error">View History</a></li>
        <li><a href="/guest_error">Update Personal Information</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/register">Register</a></li>
    </ul>
</body>
</html>